.collapse {
    .panel-body {
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
        max-height: 0px;
        overflow-y: hidden;
        padding: 0px;
        > div {
            margin: 10px 15px 10px 15px;
        }
    }
    &.exp {
        .panel-body {
            max-height: 3000px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            > div {
                margin-bottom: 0xp;
            }
        }
    }
}

.arrow {
    float: right;
    position: absolute;
    right: 25px;
    margin-top: -15px;
    cursor: pointer;
}
